@using EU_CottonContainer.Model
@model List<Usuario>
@{
    Layout = "_Layout";
}

<script>
    $(document).ready(function () {
        // Add Row
        $("#add-row").DataTable({
            pageLength: 10,

        });

        //Se Oculta la lista desplegable que permite cambiar el numero de registros por paginación
        $("#add-row_length").css("display", "none");

        // $("#add-row").tablesorter();
    });

    function confirmMessage(status, usuario) {
        var bandera = status;
        var mensaje = "";
        if (bandera == "1")
            mensaje = "desbloquear";
        else
            mensaje = "bloquear";
        swal({
            title: "Está a punto de " + mensaje + " al usuario " + usuario,
            text: "¿Desea Continuar?",
            type: "warning",
            buttons: {
                confirm: {
                    text: "Confirmar",
                    className: "btn btn-black",
                },
                cancel: {
                    text: "Cancelar",
                    visible: true,
                    className: "btn btn-secondary",
                },
            },
        }).then((Delete) => {
            if (Delete) {
                $.ajax(
                    {
                        url: '@Url.Action("setUserStatus", "/Usuario")',
                        type: "POST",
                        data: { _status: status, _sUser: usuario },
                        success: function (result) {
                            var strRes = result;
                            if (result == '1') {
                                $('.loader').hide();
                                successMessageRedirect('Éxito', 'Usuario actualizado con éxito.');
                            }
                            else {
                                errorMessage('Error', 'Ocurrio un error al actualizar el estatus de usuario. Favor de comunicarlo con el Administrador.'); 1;
                            }
                        },
                        beforeSend: function () {
                            $('.loader').show();
                        }
                    });
            } else {
                swal.close();
            }
        });
    }

    function EditUser(usuario) {
         $.redirect("EditUser", {_sUser: usuario}, "POST");
    }

    function successMessageRedirect(uxtitle, uxmessage) {
        swal(uxtitle, uxmessage, {
            icon: "success",
            buttons: {
                confirm: {
                    className: "btn btn-black",
                },
                cancel: {
                    className: "btn btn-secondary"
                }
            },
            timer: 20000,
        }).then(function () {
            window.location.href = '@Url.Content("~/Usuario/Index")';
        });
    }

    function errorMessage(uxtitle, uxmessage) {
        $('.loader').hide();
        swal(uxtitle, uxmessage, {
            icon: "error",
            buttons: {
                confirm: {
                    className: "btn btn-black",
                },
            },
        });
    }

</script>

<div class="page-header">
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a href="#">
                <i class="fas fa-layer-group"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="#">Seguridad</a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="#">Usuarios</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h5>Usuarios</h5>
                    <button class="btn btn-black btn-round ms-auto" onclick="location.href='@Url.Content("~/Usuario/AddUser")';">
                        <i class="fa fa-plus"></i>
                        Agregar
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row" class="table table-responsive table-hover gridBody dataTable no-footer">
                        <thead>
                            <tr>
                                <th style="display:none;">IdRol</th>
                                <th>Nombre</th>
                                <th>Rol</th>
                                <th>Correo</th>
                                <th>Telefono</th>
                                <th>Usuario</th>
                                <th>Estatus</th>
                                <th>Sesión</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Usuario user in Model)
                            {
                                    <tr>
                                        <td style="display:none;">
                                            @user.idRol
                                        </td>
                                        <td>
                                            @user.Nombre @user.apPaterno @user.apMaterno
                                        </td>
                                        <td>
                                            @user.Rol
                                        </td>
                                        <td>
                                            @user.Correo
                                        </td>
                                        <td>
                                            @user.Telefono
                                        </td>
                                        <td>
                                            @user.userName
                                        </td>
                                        <td>
                                            @user.Abreviatura
                                        </td>
                                        <td>
                                            @user.Sesion
                                        </td>

                                        <td>
                                            <div class="form-button-action">
                                                @if (@user.idRol == 1)
                                                {
                                                    <button type="button" id="btnLock" title="Sin Edición" class="btn btn - lg" style="cursor:default">
                                                        <i class="fa fa-lock"></i>
                                                    </button>
                                                }
                                                else
                                                {
                                                    @if (@user.Status == 5)
                                                    {
                                                        <button type="button" id="btnLock" title="Desbloquear Usuario" class="btn btn-link btn - lg" onclick="confirmMessage(1,'@user.userName');">
                                                            <i class="fa fa-lock"></i>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" id="btnUnlock" title="Bloquear Usuario" class="btn btn-link btn - lg" onclick="confirmMessage(0,'@user.userName');">
                                                            <i class="fa fa-lock-open"></i>
                                                        </button>
                                                    }
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-button-action">
                                                @if (@user.idRol == 1)
                                                {
                                                    <button type="button" id="btnLock" title="Sin Edición" class="btn btn - lg" style="cursor:default">
                                                        <i class="fa fa-user-lock"></i>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button type="button" id="btnEdit" title="Editar Usuario" class="btn btn-link btn-lg" onclick="EditUser('@user.userName');">
                                                        <i class="fa fa-user-edit"></i>
                                                    </button>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
